/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

html {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

header {
    background-color: #525174;
    text-align: center;
    color: white;
    height: 150px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.2em;
    padding-top: 15px;
    font-weight: 100;
    margin: 0;
}

header h2 {
    font-size: 1.8em;
    font-weight: 200;
    margin: 0;
}

header a {display: block;
    font-size: 1rem;  
    padding-top: 5px;
    color: #c1c0da;
    text-decoration: none;}

.heading h1 {
    color: #525174;
    font-weight: 300;
    font-size: 1.8em;
    padding-bottom: 1.5rem;
    text-align: center;}

.text {background-color: white;
    padding-top: 1.2rem;}

body {
  background-color: #B2B1C9;
  font-size: 1.2rem;

}

.questions, .notes, .moreThoughts {
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 300;
    font-size: 1em;}

.notes p {margin: 0;}

.moreThoughts {padding-bottom: 2em;}

.questions {background-color: #e8e7fc;}

.questions h2 {padding-top: 1em;
    margin-top: 0;}

ul {list-style-type: circle;}

.questions h2, .notes h2 {font-weight: 300;}

.codesample {
    background-color: rgb(219, 219, 219);
    font-family: 'Courier Prime', monospace;
    color:black;
    font-size: .8em;
    padding: 15px;
}

.code {margin-bottom: 10px;}

.caption {font-style: italic;
    font-size: .8rem;
    text-align: center;
    padding-top: 10px;}

/* Week 3 Events */

.eventExamples {display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
    justify-items: center;
    align-items: stretch;
    gap: 10px;}

.eventExamples div {
    padding-top: 80px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: .9em;
    width: 100%;
    height: 100%;
    margin: 10px;
    background-color: #ccc;
    display: inline-block;
    text-align: center;
    align-self: center;
    user-select: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
}

div.highlight {background-color: #27ccb0;}

@media only screen and (min-width: 35.5em) {
    main {max-width: 1000px;
        padding-top: 0;
        padding-bottom: 0;
        margin: auto;}
    .heading {text-align: left;}

    .textGrid {display: grid;
        grid-template-columns: 1fr 2fr;
        padding-left: 1em;
        padding-right: 1em;}

    .questions {grid-column: 1/2;
        background-color: white;
        padding: 0;}

    .questions h2, .questions ul {
        background-color:#e8e7fc;
        padding: 1em;
        margin: 15px;}
    .questions h2 {border-radius: 15px 15px 0 0;
        margin-bottom: 0;
        margin-top: 0;}
    .questions ul {
        border-radius: 0 0 15px 15px;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 2em;}

    .notes h2 {margin-top: 0;}

    .questions ul{padding-left: 2em;}

    .mainText {grid-column: 2/3;}

    .moreThoughts {padding-left:2em;}

    .eventExamples div {max-width: 200px;
        padding-right: 15px;
        padding-left: 15px;}
    
    }