/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

html {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

header {
    background-color: #525174;
    text-align: center;
    color: white;
    height: 150px;
    font-family: 'Poppins', sans-serif;
}

header h1 {
    font-size: 2.2em;
    padding-top: 15px;
    font-weight: 100;
    margin: 0;
}

header h2 {
    font-size: 1.8em;
    font-weight: 200;
    margin: 0;
}

header a {display: block;
    font-size: 1rem;  
    padding-top: 5px;
    color: #c1c0da;
    text-decoration: none;}

.heading {background-color: #B2B1C9;
    padding-bottom: 1.5rem;
    text-align: center;}
.text {background-color: white;
    padding: 2rem;
    padding-top: 1.2rem;}

 h1 {
    font-size: 2.2em;
    padding-top: 15px;
    font-weight: 100;
    margin: 0;
}

body {
  background-color: #B2B1C9;
  font-size: 1.2rem;

}

@media only screen and (min-width: 32.5em) {
    main {max-width: 1000px;
        padding: 2rem;
        margin: auto;}
    .heading {text-align: left;}
    
    }