/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

html {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

.headerText {margin: auto;}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #525174;
    text-align: center;
    color: white;
    height: 150px;
    font-family: 'Poppins', sans-serif;
}

header h1 {
    font-size: 2.2em;
    font-weight: 100;
    margin: 0;
}

header h2 {
    font-size: 1.8em;
    font-weight: 200;
    margin: .5rem;
}

body {
  background-color: #B2B1C9;
  padding: 0;
  font-size: 18px;
  position: relative;
  min-height: 100%;
  padding-bottom: 6rem;
}

main {background-color: white;}

.linktree {
    padding: 25px;
}

li {padding-bottom: 10px;}

footer {
    background-color: #525174;
    color: white;
    height: auto;
    text-align: center;
    padding: 25px;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

footer a, p {
    background-color: #525174;
    color: white;
    font-weight: 200;
}