@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {font-family: 'Poppins', sans-serif;}

.listContainer {border: medium solid #CBC0D3;
    border-radius: 10px;
    overflow: hidden;
    max-width: 600px;
    margin: auto;}

h1 {text-align: center;
    background-color: #FEEAFA;
    color:#5D6B83;
    margin: 0;
    padding: 1rem;
    font-weight: 500;}

.filters {display: flex;
    justify-content: space-between;
    padding: 10px 1rem 10px 1rem;
    background-color: #DEE2FF;}

.categories {display: flex;
    flex-direction: row;
    color: #4f5d75;
    font-weight: 300;}

.categories div {
    margin: 5px 10px 5px 10px;
}

.addTask {display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
    padding: 10px 1rem;
    background-color: #5D6B83;
    color: #fff4fd;
    }

.listItems {min-height: 350px;}

#counter {font-weight: 600;}

.taskRemain {font-weight: 300;
    align-self: center;}

#shown {background-color: white;
    border-radius: 5px;
    font-weight: 600;
    padding: 5px 10px 5px 10px;
    margin: 0;}

button {background-color: #fff4fd;
    color: #4f5d75;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    line-height: .5rem;
    border-radius: 3px;
    height: 26px;
    width: 26px;
    padding: 0;}

input {height: 24px;
    border:none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;}

label {
    margin-right: -5px;}
