@media only screen and (min-width: 32.5em) {
.headerBar h1 {
    font-family: 'Poppins', sans-serif;
    margin: .5rem 2rem;
}

.headerBar {
    grid-template-rows: 1fr;
    grid-template-columns: auto 225px;}}