.draganddrop .mc {
  text-align: center;
}

.mc img {
  width: 100px;
}

article {
  width: 90vw;
  margin: auto;
  padding-bottom: 2rem;
}

#cat {
  width: 100%;
  margin: auto;
}

article h1 {
  text-align: center;
}

#catHeading {
  text-align: center;
}

#codesample {
  padding: 0 2rem 0 2rem;
  margin: auto;
}

div.Thoughts {
  padding: 0 2rem 0 2rem;
}

div.moreThoughts {
  padding: .5rem 2rem .5rem 2rem;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  margin: 0;
}

pre code {
  display: block;
  max-width: 600px;
  margin: auto;
  padding: 0;
}

#cat img {
  width: 100%;
  margin: auto;
}

#mouseContainer {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, auto);
}

.questions {
  padding-bottom: 2rem;
}

li {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 35.5rem) {

  article {
    display: grid;
    grid-template-areas:
      "heading ."
      "subtitle ."
      "cat mice";
    grid-template-columns: auto 100px;
    grid-template-rows: auto;
    column-gap: 2rem;
    justify-items: center;
    justify-content: center;
    margin: auto;
    max-width: 600px;
  }

  article h1 {
    grid-area: heading;
  }

  #catHeading {
    grid-area: subtitle;
  }

  #cat {
    grid-area: cat;
    max-height: 400px;
  }

  #mouseContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-area: mice;
  }

  div.Thoughts {
    padding: 0;
  }

  .questions {
    align-self: center;
  }

  .questions ul, .questions h2 {
    margin: 0;
  }

  .textGrid {
    display: grid;
    gap: 5vw;
    grid-template-columns: 1fr 3fr;
    padding: 0 4vw 2rem 4vw;
  }

}